<div class="reservation-ready padding-block-xl">
    <section class="even-cols container">
        <h5 class="heading-l text-res">Ready to make a reservation?</h5>
        <button>
            <a class="btn-general dark-btn" href="/reservations">Book a table</a>
        </button>
    </section>
</div>

<style>
    .reservation-ready {
        background-image: url('https://ik.imagekit.io/a8p7pl7hs/dinesite/images/homepage/ready-bg-desktop_eYrdJV77jz.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1674487858915');
        /* padding: 5em 0; */
    }

    h5, a {
        color: white;
    }
</style>